html {
  box-sizing: border-box;
}

* {
  font-weight: 100;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5d9d5;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}

#mainNavbar {
  font-size: 1.5em;
  font-weight: 100;
}

#mainNavbar .navbar-brand {
  color: #ea1c2c;
  font-size: 1.5rem;
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: #ea1c2c;
}

.dropitems a {
  color: white;
  background-color: #f5d9d5;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
}

.dropitems a:hover {
  color: #ea1c2c;
  background-color: #f5d9d5;
}

.book-img {
  position: relative;
  width: 135px;
  height: 213px;
  margin: 3px;
  padding: 5px;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-content {
  display: flex;
  flex-direction: column;
  margin: 3px;
  padding: 15px;
  padding-left: 35px;
  width: 650px;
  height: 580px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.paragraph {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 100 !important;
  margin: 0px;
  padding: 10px;
  color: #f498b8;
  font-size: 1em;
}

.title {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2em;
  font-weight: 100;
  color: #ea1c2c;
}

.author {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1em;
  font-weight: 100;
  color: #ea1c2c;
}

.book-info {
  border-right: 1px solid rgba(175, 175, 175, 0.5);
  width: 620px;
  display: flex;
  height: 580px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.date-container {
  position: relative;
  z-index: 1;
  right: -250px;
  transform: rotate(-90deg);
  top: -92px;
}
.date {
  position: relative;
  object-position: 400px 200px;
  text-transform: uppercase;

  color: #ea1c2c;
  font-family: "Nunito", sans-serif;
  font-size: 0.62em;
  font-weight: 700;
  letter-spacing: 0.1em;
}

ul.main-content {
  margin: 5px;
  padding: 5px;
  margin-top: 0px;
}

.book-infodiv {
  padding: 5px;
  margin: 5px;
}
/*
.book-info {
  width: 100%;
  height: 100%;
  height: 550px;
  width: 1100px;

  padding: 10px !important;
  margin: 0px !important;
}
.book-info {
  width: 1100;
  height: 500;
  display: flex;
  flex-direction: column;
}

.rowone,
.rowtwo {
  display: flex;
  flex-direction: column;
}

.main-content {
  margin: 0px !important;
  padding: 0px !important;
}

.book-infodiv {
  height: 500px;
  width: 600px;

  border-right: 1px solid rgba(175, 175, 175, 0.5);
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
*/
.ratings {
  /* 1 pixel black shadow to left, top, right and bottom */
  text-shadow: -1px 0 rgb(234, 28, 44), 0 1px rgb(234, 28, 44),
    1px 0 rgb(234, 28, 44), 0 -1px rgb(234, 28, 44);

  margin: 0px;
  padding: 0px;
  padding-right: 12px;
  padding-left: 10px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  color: #f498b8;
}

@media (max-width: 575px) {
  .text-content,
  .main-content {
    flex-wrap: wrap;
  }
  .book-info {
    border-right: none;
    border-bottom: 1px solid rgba(175, 175, 175, 0.5);
  }
}
